<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845411070603-kbvsroqveag8eqoqcgh0b3fr9mthat1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845411070603-kbvsroqveag8eqoqcgh0b3fr9mthat1j</string>
	<key>API_KEY</key>
	<string>AIzaSyD20hj4ZbpbRLJtRjPqFLz8IbcVEjtkdN8</string>
	<key>GCM_SENDER_ID</key>
	<string>845411070603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yaToDo</string>
	<key>PROJECT_ID</key>
	<string>ya-to-do</string>
	<key>STORAGE_BUCKET</key>
	<string>ya-to-do.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845411070603:ios:b92797e6c38bf3ec145a8e</string>
</dict>
</plist>